@model IEnumerable<WebAdminConsole.Models.Runner>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BibNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BibNumber.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teams.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RunnerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RunnerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RunnerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
